body {
    font-family: 'Tiny5', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Czarne tło */
    color: #00ff00; /* Zielony tekst */
}

header {
    background-color: #000; /* Czarne tło nagłówka */
    color: #00ff00; /* Zielony tekst nagłówka */
    padding: 1em;
    text-align: center;
    position: relative; /* Dodano do umiejscowienia znaku zachęty */
}

.prompt {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2em;
    color: #00ff00;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.language-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.flag-button {
    background-color: #000;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 1em;
}

.flag-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.flag-button:hover:not([disabled]) {
    background-color: #00ff00;
    color: #000;
}

section {
    margin: 2em;
    color: #00ff00; /* Zielony tekst w sekcjach */
}

h1 {
    color: #00ff00; /* Zielony kolor nagłówków */
    font-family: "Libre Barcode 128 Text", system-ui;
    font-size: 5em; /* Ustaw rozmiar czcionki z jednostką */
}

h2 {
    color: #00ff00; /* Zielony kolor nagłówków */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #000; /* Czarne tło elementów listy */
    margin: 1em 0;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #00ff00; /* Zielone linki */
    text-decoration: none;
    border-bottom: 1px solid #00ff00; /* Dodaj podkreślenie */
}

a:hover {
    color: white;
    text-decoration: none; /* Usuń podkreślenie po najechaniu */
}
.flag-button#plButton {
    background-image: url('https://cdn.pixabay.com/photo/2012/04/10/16/15/poland-26125_1280.png');
    background-size: cover;
    color: transparent; /* Ukrycie tekstu, jeśli obraz jest flagą */
    width: 40px;
    height: 25px;
}

.flag-button#engButton {
    background-image: url('https://media.istockphoto.com/id/880562092/vector/great-britain-united-kingdom-flag.jpg?s=612x612&w=0&k=20&c=z6Qg_O-2pIcreAK3Fb8X003h2HRIFiRWNT8cg7hDfFo=');
    background-size: cover;
    color: transparent; /* Ukrycie tekstu, jeśli obraz jest flagą */
    width: 40px;
    height: 25px;
}
